<article class='post'>
  <div class='whole-post'>
    <div class='info-section'>
      <div class='post-name'>
        <a
          href='/post/{{id}}'
          class='links uk-text-lead uk-link-heading'
        >{{title}}</a>
      </div>
      <div class='created-by'>
        <p id='comment-subtitle'>
          Posted by
          <b>{{user.username}} </b>
          on
          <b>{{formatDate created_at}}</b>
        </p>
      </div>
    </div>
    <div class='content-section'>
      <p>{{post_text}}</p>
    </div>
  </div>
</article>

{{#if posts.length}}
  <section>
    <legend class='uk-legend uk-margin-top'>Dashboard</legend>

    <ul class='post-list uk-list'>
      {{#each posts as |post|}}
        <li class='uk-card uk-card-body uk-card-default'>
          {{>post-info post}}
          <a
            href='/dashboard/edit/{{post.id}}'
            class='edit-link uk-button uk-button-danger'
          >edit post</a>
        </li>

      {{/each}}
    </ul>
  </section>
{{/if}}